html,
body {
  /* TODO: decide font for the app */
  /* font-family: monospace; */
  /* font-size: 20px; */
}

.btn_default {
  width: auto;
  padding: 8px 20px;
  color: white;
  font-size: 18px;
  font-weight: 500;
  border-radius: 4px;
  background-color: #393e46;
}
