.event_banner {
  width: inherit;
  aspect-ratio: 2/1;
  object-fit: contain;
  border-radius: 4px;
  height: inherit;
  margin-top: 5px;
}

.tags_chip {
  color: #393e67 !important;
  border: 2px solid #393e67 !important;
  font-weight: 900;
}
